Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: adguardhome, amule, backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, graylog, guacamole, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, logitechmediaserver, madsonic, mariadb, mineos, monica, mosquitto, motioneye, movienight, n8n, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, prowlarr, qbittorrent, quasselcore, radarr, redis, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, torr_server, transmission, unificontroller, urbackup, vault, weechat, zabbixserver, zoneminder, zrepl, zwavejs2mqtt

adguardhome:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: adguardhome.json
    ADMIN_UI_USER: admin:admin

amule:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-3
  env:
    PLUGIN_FILE: amule.json
    SKIP_SERVICE_CHECK: 'true'

backuppc:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: backuppc.json

bazarr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: bazarr.json

bind:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: bind.json

calibre-web:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: calibre-web.json

channels-dvr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: channels-dvr.json

clamav:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: clamav.json

deluge-pip:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: deluge-pip.json

dnsmasq:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: dnsmasq.json

drupal8:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: drupal8.json

duplicati:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: duplicati.json

emby:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby.json

emby-server-stable:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby-server-stable.json

esphome:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: esphome.json

famp:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: famp.json

gitea:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gitea.json

gitlab:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gitlab.json

Update torr-server.json
  torr-server.json
Due: torr_server

Update transmission.json
  transmission.json
Due: transmission

Update unificontroller.json
  unificontroller.json
Due: unificontroller

Update urbackup.json
  urbackup.json
Due: urbackup

Update vault.json
  vault.json
Due: vault

Update weechat.json
  weechat.json
Due: weechat

Update xmrig.json
  xmrig.json
Due: none

Update zabbixserver.json
  zabbixserver.json
Due: zabbixserver

Update zoneminder.json
  zoneminder.json
Due: zoneminder

Update zrepl.json
  zrepl.json
Due: zrepl

Update .cirrus.yml
  .cirrus.yml
Due: none

Update bazarr.json
  bazarr.json
Due: bazarr

Update emby.json
  emby.json
Due: emby

Update emby-server-stable.json
  emby-server-stable.json
Due: emby-server-stable

Update calibre-web.json
  calibre-web.json
Due: calibre-web

Update deluge-pip.json
  deluge-pip.json
Due: deluge-pip

Update dnsmasq.json
  dnsmasq.json
Due: dnsmasq

Update heimdall-dashboard.json
  heimdall-dashboard.json
Due: heimdall-dashboard

Update piwigo.json
  piwigo.json
Due: piwigo

Update esphome.json
  esphome.json
Due: esphome

Update tautulli.json
  tautulli.json
Due: tautulli

Update sickchill.json
  sickchill.json
Due: sickchill

Update mineos.json
  mineos.json
Due: mineos

Update monica.json
  monica.json
Due: monica

Update INDEX
  INDEX
Due: none

Delete esphome.json
  esphome.json
Due: esphome

Delete esphome.png
  icons/esphome.png
Due: none

Update rtorrent-flood.json
  rtorrent-flood.json
Due: rtorrent-flood

Update hoobs.json
  hoobs.json
Due: hoobs

Update gitlab.json
  gitlab.json
Due: gitlab

Update sonarr.json
  sonarr.json
Due: sonarr

Path conditions:
  adguardhome: any of: adguardhome.json, .cirrus/install_script.sh
  amule: any of: amule.json, .cirrus/install_script.sh
  backuppc: any of: backuppc.json, .cirrus/install_script.sh
  bazarr: any of: bazarr.json, .cirrus/install_script.sh
  bind: any of: bind.json, .cirrus/install_script.sh
  calibre-web: any of: calibre-web.json, .cirrus/install_script.sh
  channels-dvr: any of: channels-dvr.json, .cirrus/install_script.sh
  clamav: any of: clamav.json, .cirrus/install_script.sh
  deluge-pip: any of: deluge-pip.json, .cirrus/install_script.sh
  dnsmasq: any of: dnsmasq.json, .cirrus/install_script.sh
  drupal8: any of: drupal8.json, .cirrus/install_script.sh
  duplicati: any of: duplicati.json, .cirrus/install_script.sh
  emby: any of: emby.json, .cirrus/install_script.sh
  emby-server-stable: any of: emby-server-stable.json, .cirrus/install_script.sh
  esphome: any of: esphome.json, .cirrus/install_script.sh
  famp: any of: famp.json, .cirrus/install_script.sh
  gitea: any of: gitea.json, .cirrus/install_script.sh
  gitlab: any of: gitlab.json, .cirrus/install_script.sh
  gogs: any of: gogs.json, .cirrus/install_script.sh
  grafana: any of: grafana.json, .cirrus/install_script.sh
  graylog: any of: graylog.json, .cirrus/install_script.sh
  guacamole: any of: guacamole.json, .cirrus/install_script.sh
  heimdall-dashboard: any of: heimdall-dashboard.json, .cirrus/install_script.sh
  homeassistant: any of: homeassistant.json, .cirrus/install_script.sh
  homebridge: any of: homebridge.json, .cirrus/install_script.sh
  hoobs: any of: hoobs.json, .cirrus/install_script.sh
  i2p: any of: i2p.json, .cirrus/install_script.sh
  irssi: any of: irssi.json, .cirrus/install_script.sh
  jackett: any of: jackett.json, .cirrus/install_script.sh
  jdownloader: any of: jdownloader.json, .cirrus/install_script.sh
  jenkins: any of: jenkins.json, .cirrus/install_script.sh
  jenkins-lts: any of: jenkins-lts.json, .cirrus/install_script.sh
  lidarr: any of: lidarr.json, .cirrus/install_script.sh
  logitechmediaserver: any of: logitechmediaserver.json, .cirrus/install_script.sh
  madsonic: any of: madsonic.json, .cirrus/install_script.sh
  mariadb: any of: mariadb.json, .cirrus/install_script.sh
  mineos: any of: mineos.json, .cirrus/install_script.sh
  monica: any of: monica.json, .cirrus/install_script.sh
  mosquitto: any of: mosquitto.json, .cirrus/install_script.sh
  motioneye: any of: motioneye.json, .cirrus/install_script.sh
  movienight: any of: movienight.json, .cirrus/install_script.sh
  n8n: any of: n8n.json, .cirrus/install_script.sh
  netdata: any of: netdata.json, .cirrus/install_script.sh
  nexus: any of: nexus-oss.json, .cirrus/install_script.sh
  node-red: any of: node-red.json, .cirrus/install_script.sh
  nxfilter: any of: nxfilter.json, .cirrus/install_script.sh
  nzbget: any of: nzbget.json, .cirrus/install_script.sh
  openspeedtest-server: any of: openspeedtest-server.json, .cirrus/install_script.sh
  openvpn: any of: openvpn.json, .cirrus/install_script.sh
  piwigo: any of: piwigo.json, .cirrus/install_script.sh
  privatebin: any of: privatebin.json, .cirrus/install_script.sh
  prowlarr: any of: prowlarr.json, .cirrus/install_script.sh
  qbittorrent: any of: qbittorrent.json, .cirrus/install_script.sh
  quasselcore: any of: quasselcore.json, .cirrus/install_script.sh
  radarr: any of: radarr.json, .cirrus/install_script.sh
  redis: any of: redis.json, .cirrus/install_script.sh
  rslsync: any of: rslsync.json, .cirrus/install_script.sh
  rtorrent-flood: any of: rtorrent-flood.json, .cirrus/install_script.sh
  sabnzbd: any of: sabnzbd.json, .cirrus/install_script.sh
  sickchill: any of: sickchill.json, .cirrus/install_script.sh
  sonarr: any of: sonarr.json, .cirrus/install_script.sh
  tasmoadmin: any of: tasmoadmin.json, .cirrus/install_script.sh
  tautulli: any of: tautulli.json, .cirrus/install_script.sh
  torr_server: any of: torr-server.json, .cirrus/install_script.sh
  transmission: any of: transmission.json, .cirrus/install_script.sh
  unificontroller: any of: unificontroller.json, .cirrus/install_script.sh
  urbackup: any of: urbackup.json, .cirrus/install_script.sh
  vault: any of: vault.json, .cirrus/install_script.sh
  weechat: any of: weechat.json, .cirrus/install_script.sh
  zabbixserver: any of: zabbixserver.json, .cirrus/install_script.sh
  zoneminder: any of: zoneminder.json, .cirrus/install_script.sh
  zrepl: any of: zrepl.json, .cirrus/install_script.sh
  zwavejs2mqtt: any of: zwavejs2mqtt.json, .cirrus/install_script.sh
