Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, netdata, node-red, nzbget, openspeedtest-server, openvpn, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, unificontroller-lts, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

backuppc:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: backuppc.json

bazarr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: bazarr.json

bind:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: bind.json

calibre-web:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: calibre-web.json

channels-dvr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: channels-dvr.json

clamav:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: clamav.json

deluge-pip:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: deluge-pip.json

dnsmasq:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: dnsmasq.json

drupal8:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: drupal8.json

duplicati:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: duplicati.json

emby:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: emby.json

emby-server-stable:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby-server-stable.json

esphome:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: esphome.json

famp:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: famp.json

gitea:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: gitea.json

gitlab:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: gitlab.json

gogs:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gogs.json

grafana:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: grafana.json

heimdall-dashboard:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: heimdall-dashboard.json

Sync gitlab test freeBSD version
  .cirrus.yml
Due: none

Add dependency to deluge
  deluge-pip.json
Due: deluge-pip

Switch Heimdall to 12.2
  heimdall-dashboard.json
Due: heimdall-dashboard

Switch Heimdall Cirrus task to 12-2
  .cirrus.yml
Due: none

back to py27 as motioneye doesn't support py3 yet.
  motioneye.json
Due: motioneye

Up Heimdall to 12.2-RELEASE (#187)
  .cirrus.yml
  heimdall-dashboard.json
Due: heimdall-dashboard

Update channels-dvr to use 12.2-RELEASE
  channels-dvr.json
Due: channels-dvr

Update test too
  .cirrus.yml
Due: none

Try repo with amd64 chromium available
  channels-dvr.json
Due: channels-dvr

Update .cirrus.yml
  .cirrus.yml
Due: none

Update channels-dvr.json
  channels-dvr.json
Due: channels-dvr

Add possibility to skip UI check
  .cirrus.yml
  .cirrus/install_script.sh
Due: none

Add Nexus OSS Repository Manager to TrueNAS community plugins
  .cirrus.yml
  INDEX
  icons/nexus-oss.png
  nexus-oss.json
Due: none

Upgrade unifi to 6 again
  unificontroller.json
Due: unificontroller

Upgrade unifi to 12.2
  .cirrus.yml
  unificontroller.json
Due: unificontroller

Add function for checking post_install services status
  .cirrus/install_script.sh
Due: none

Fix service command typo
  .cirrus/install_script.sh
Due: none

Use service -e to check which services are enabled
  .cirrus/install_script.sh
Due: none

Set HOME env var to root
  .cirrus.yml
Due: none

Use simple grep instead of nested while loop
  .cirrus/install_script.sh
Due: none

Use more simple grep instead of nested while
  .cirrus/install_script.sh
Due: none

Skip printing skipped services
  .cirrus/install_script.sh
Due: none

Forgotten grep quiet flag
  .cirrus/install_script.sh
Due: none

Remove service and run service script directly
  .cirrus/install_script.sh
Due: none

Whitespaces...
  INDEX
Due: none

MovieNight add package gmake
  movienight.json
Due: none

Stop ipfw if enabled
  .cirrus/install_script.sh
Due: none

Add missing path variable for bin locations
  .cirrus.yml
Due: none

Review https://github.com/ix-plugin-hub/iocage-plugin-index/pull/193#issuecomment-800685378 from @fulder
  .cirrus.yml
Due: none

Check service status in cirrus tests (#192)
  .cirrus/install_script.sh
Due: none

UI portal install test support (#178)
  .cirrus.yml
  .cirrus/install_script.sh
Due: none

Add missing plugin tests (#182)
  .cirrus.yml
Due: none

[UPDATE][MovieNight] Add package (#193)
  INDEX
  movienight.json
Due: none

Stop ipfw after checking service status
  .cirrus/install_script.sh
Due: none

Do service check after admin portal
  .cirrus/install_script.sh
Due: none

Add helper function for waiting for service
  .cirrus/install_script.sh
Due: none

Ignore ipfw stop error messages
  .cirrus/install_script.sh
Due: none

Add global USER env var equal to root
  .cirrus.yml
Due: none

Fix wait_for_service loop/if conditions
  .cirrus/install_script.sh
Due: none

Check services with wait before admin portal
  .cirrus/install_script.sh
Due: none

Path conditions:
  backuppc: any of: backuppc.json
  bazarr: any of: bazarr.json
  bind: any of: bind.json
  calibre-web: any of: calibre-web.json
  channels-dvr: any of: channels-dvr.json
  clamav: any of: clamav.json
  deluge-pip: any of: deluge-pip.json
  dnsmasq: any of: dnsmasq.json
  drupal8: any of: drupal8.json
  duplicati: any of: duplicati.json
  emby: any of: emby.json
  emby-server-stable: any of: emby-server-stable.json
  esphome: any of: esphome.json
  famp: any of: famp.json
  gitea: any of: gitea.json
  gitlab: any of: gitlab.json
  gogs: any of: gogs.json
  grafana: any of: grafana.json
  heimdall-dashboard: any of: heimdall-dashboard.json
  homeassistant: any of: homeassistant.json
  homebridge: any of: homebridge.json
  hoobs: any of: hoobs.json
  i2p: any of: i2p.json
  irssi: any of: irssi.json
  jackett: any of: jackett.json
  jenkins: any of: jenkins.json
  jenkins-lts: any of: jenkins-lts.json
  lidarr: any of: lidarr.json
  madsonic: any of: madsonic.json
  mineos: any of: mineos.json
  monica: any of: monica.json
  mosquitto: any of: mosquitto.json
  motioneye: any of: motioneye.json
  netdata: any of: netdata.json
  node-red: any of: node-red.json
  nzbget: any of: nzbget.json
  openspeedtest-server: any of: openspeedtest-server.json
  openvpn: any of: openvpn.json
  privatebin: any of: privatebin.json
  qbittorrent: any of: qbittorrent.json
  quasselcore: any of: quasselcore.json
  radarr: any of: radarr.json
  rslsync: any of: rslsync.json
  rtorrent-flood: any of: rtorrent-flood.json
  sabnzbd: any of: sabnzbd.json
  sickchill: any of: sickchill.json
  sonarr: any of: sonarr.json
  tasmoadmin: any of: tasmoadmin.json
  tautulli: any of: tautulli.json
  transmission: any of: transmission.json
  unificontroller: any of: unificontroller.json
  unificontroller-lts: any of: unificontroller-lts.json
  vault: any of: vault.json
  weechat: any of: weechat.json
  xmrig: any of: xmrig.json
  zoneminder: any of: zoneminder.json
  zrepl: any of: zrepl.json
  zwavejs2mqtt: any of: zwavejs2mqtt.json
