Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Path conditions:
  backuppc: any of: backuppc.json, .cirrus/install_script.sh
  bazarr: any of: bazarr.json, .cirrus/install_script.sh
  bind: any of: bind.json, .cirrus/install_script.sh
  calibre-web: any of: calibre-web.json, .cirrus/install_script.sh
  channels-dvr: any of: channels-dvr.json, .cirrus/install_script.sh
  clamav: any of: clamav.json, .cirrus/install_script.sh
  deluge-pip: any of: deluge-pip.json, .cirrus/install_script.sh
  dnsmasq: any of: dnsmasq.json, .cirrus/install_script.sh
  drupal8: any of: drupal8.json, .cirrus/install_script.sh
  duplicati: any of: duplicati.json, .cirrus/install_script.sh
  emby: any of: emby.json, .cirrus/install_script.sh
  emby-server-stable: any of: emby-server-stable.json, .cirrus/install_script.sh
  esphome: any of: esphome.json, .cirrus/install_script.sh
  famp: any of: famp.json, .cirrus/install_script.sh
  gitea: any of: gitea.json, .cirrus/install_script.sh
  gitlab: any of: gitlab.json, .cirrus/install_script.sh
  gogs: any of: gogs.json, .cirrus/install_script.sh
  grafana: any of: grafana.json, .cirrus/install_script.sh
  heimdall-dashboard: any of: heimdall-dashboard.json, .cirrus/install_script.sh
  homeassistant: any of: homeassistant.json, .cirrus/install_script.sh
  homebridge: any of: homebridge.json, .cirrus/install_script.sh
  hoobs: any of: hoobs.json, .cirrus/install_script.sh
  i2p: any of: i2p.json, .cirrus/install_script.sh
  irssi: any of: irssi.json, .cirrus/install_script.sh
  jackett: any of: jackett.json, .cirrus/install_script.sh
  jdownloader: any of: jdownloader.json, .cirrus/install_script.sh
  jenkins: any of: jenkins.json, .cirrus/install_script.sh
  jenkins-lts: any of: jenkins-lts.json, .cirrus/install_script.sh
  lidarr: any of: lidarr.json, .cirrus/install_script.sh
  madsonic: any of: madsonic.json, .cirrus/install_script.sh
  mineos: any of: mineos.json, .cirrus/install_script.sh
  monica: any of: monica.json, .cirrus/install_script.sh
  mosquitto: any of: mosquitto.json, .cirrus/install_script.sh
  motioneye: any of: motioneye.json, .cirrus/install_script.sh
  movienight: any of: movienight.json, .cirrus/install_script.sh
  netdata: any of: netdata.json, .cirrus/install_script.sh
  nexus: any of: nexus-oss.json, .cirrus/install_script.sh
  node-red: any of: node-red.json, .cirrus/install_script.sh
  nxfilter: any of: nxfilter.json, .cirrus/install_script.sh
  nzbget: any of: nzbget.json, .cirrus/install_script.sh
  openspeedtest-server: any of: openspeedtest-server.json, .cirrus/install_script.sh
  openvpn: any of: openvpn.json, .cirrus/install_script.sh
  piwigo: any of: piwigo.json, .cirrus/install_script.sh
  privatebin: any of: privatebin.json, .cirrus/install_script.sh
  qbittorrent: any of: qbittorrent.json, .cirrus/install_script.sh
  quasselcore: any of: quasselcore.json, .cirrus/install_script.sh
  radarr: any of: radarr.json, .cirrus/install_script.sh
  rslsync: any of: rslsync.json, .cirrus/install_script.sh
  rtorrent-flood: any of: rtorrent-flood.json, .cirrus/install_script.sh
  sabnzbd: any of: sabnzbd.json, .cirrus/install_script.sh
  sickchill: any of: sickchill.json, .cirrus/install_script.sh
  sonarr: any of: sonarr.json, .cirrus/install_script.sh
  tasmoadmin: any of: tasmoadmin.json, .cirrus/install_script.sh
  tautulli: any of: tautulli.json, .cirrus/install_script.sh
  transmission: any of: transmission.json, .cirrus/install_script.sh
  unificontroller: any of: unificontroller.json, .cirrus/install_script.sh
  vault: any of: vault.json, .cirrus/install_script.sh
  weechat: any of: weechat.json, .cirrus/install_script.sh
  xmrig: any of: xmrig.json, .cirrus/install_script.sh
  zoneminder: any of: zoneminder.json, .cirrus/install_script.sh
  zrepl: any of: zrepl.json, .cirrus/install_script.sh
  zwavejs2mqtt: any of: zwavejs2mqtt.json, .cirrus/install_script.sh

Update mineos python version
  mineos.json
Due: mineos

Update sickchill python version
  sickchill.json
Due: sickchill

Debug jenkins tasks
  .cirrus.yml
Due: none

Escape '%' yaml char
  .cirrus.yml
Due: none

Test using single quotes
  .cirrus.yml
Due: none

Debug print overriden admin ui
  .cirrus/install_script.sh
Due: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Use another placeholder for IP
  .cirrus.yml
  .cirrus/install_script.sh
Due: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Add new optional variable to readme
  README.md
Due: none

Revert "Debug jenkins tasks"
  .cirrus.yml
Due: none

Install python3 for correct binary
  esphome.json
  homeassistant.json
  mineos.json
Due: esphome, homeassistant, mineos

Debug bazarr run
  .cirrus.yml
Due: none

Increase service sleep time
  .cirrus/install_script.sh
Due: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Revert "Increase service sleep time"
  .cirrus/install_script.sh
Due: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Revert "Debug bazarr run"
  .cirrus.yml
Due: none

Update readme variable info
  README.md
Due: none

Print variable using print_info
  .cirrus/install_script.sh
Due: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Add Chia Blockchain to TrueNAS CORE index
  INDEX
  chia.json
  icons/chia.png
Due: none

Fix some spacing
  chia.json
Due: none

fix json numbers
  urbackup.json
Due: none

Remove python3 package from homeassistant again
  homeassistant.json
Due: homeassistant

Cleanup manifest package listing and add cirrus task for testing
  .cirrus.yml
  chia.json
Due: none

Bit more cleanup of package list
  chia.json
Due: none

Cirrus test admin UI override (#231)
  .cirrus.yml
  .cirrus/install_script.sh
  README.md
Due: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Add JDownloader plugin (#227)
  .cirrus.yml
  INDEX
  icons/jdownloader.png
  jdownloader.json
Due: jdownloader

deluge-pip upgraded to python 3.8 (#226)
  deluge-pip.json
Due: deluge-pip

Update emby.json with ffmpeg fix and https NAT port (#218)
  emby.json
Due: emby

Add Logitech Media Server to 12.2-RELEASE (#212)
  .cirrus.yml
  INDEX
  icons/logitechmediaserver.png
  logitechmediaserver.json
Due: none

Upgrade monica to 12.2 (#208)
  monica.json
Due: monica

Add zabbix server (#207)
  .cirrus.yml
  INDEX
  icons/zabbix.png
  zabbixserver.json
Due: none

Allow null values for primary_pkg
  INDEX
  index.schema
Due: none

Restore INDEX from master
  INDEX
Due: none

Add missing primary_pkg to homebridge
  INDEX
Due: none

Fix zabbixserver manifest issue
  zabbixserver.json
Due: none

Checkout INDEX from master again
  INDEX
Due: none

Remove old plugin_schema property
  bazarr.json
  calibre-web.json
  chia.json
  deluge-pip.json
  dnsmasq.json
  drupal8.json
  duplicati.json
  esphome.json
  famp.json
  gitea.json
  grafana.json
  heimdall-dashboard.json
  homeassistant.json
  irssi.json
  jackett.json
  lidarr.json
  mineos.json
  monica.json
  motioneye.json
  movienight.json
  netdata.json
  nexus-oss.json
  nzbget.json
  openvpn.json
  piwigo.json
  privatebin.json
  qbittorrent.json
  sickchill.json
  transmission.json
  vault.json
  weechat.json
  xmrig.json
  zoneminder.json
  zrepl.json
  zwavejs2mqtt.json
Due: bazarr, calibre-web, deluge-pip, dnsmasq, drupal8, duplicati, esphome, famp, gitea, grafana, heimdall-dashboard, homeassistant, irssi, jackett, lidarr, mineos, monica, motioneye, movienight, netdata, nexus, nzbget, openvpn, piwigo, privatebin, qbittorrent, sickchill, transmission, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Upgrade python to 3.8 (#232)
  bazarr.json
  calibre-web.json
  esphome.json
  mineos.json
  sickchill.json
  tautulli.json
Due: bazarr, calibre-web, esphome, mineos, sickchill, tautulli

Change plugin_manifest to fork
  .github/workflows/validateindex.yml
Due: none

Revert "Change plugin_manifest to fork"
  .github/workflows/validateindex.yml
Due: none
