Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, netdata, node-red, nzbget, openspeedtest-server, openvpn, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, unificontroller-lts, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

backuppc:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: backuppc.json

bazarr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: bazarr.json

bind:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: bind.json

calibre-web:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: calibre-web.json

channels-dvr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: channels-dvr.json

clamav:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: clamav.json

deluge-pip:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: deluge-pip.json

dnsmasq:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: dnsmasq.json

drupal8:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: drupal8.json

duplicati:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: duplicati.json

emby:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: emby.json

emby-server-stable:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby-server-stable.json

esphome:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: esphome.json

famp:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: famp.json

gitea:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: gitea.json

gitlab:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: gitlab.json

gogs:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gogs.json

grafana:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: grafana.json

heimdall-dashboard:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: heimdall-dashboard.json

Add support to ignoring following redirects
  .cirrus.yml
  .cirrus/install_script.sh
Due: none

Use curl flags instead for own while loop
  .cirrus/install_script.sh
Due: none

Add back install_script changes
  .cirrus.yml
Due: none

Sync cirrus.yml with master
  .cirrus.yml
Due: none

Remove extra spaces
  .cirrus.yml
Due: none

Add back single new line
  .cirrus.yml
Due: none

Upgrade bazarr to 12.2
  .cirrus.yml
  bazarr.json
Due: bazarr

Upgrade drupal to 12.2
  .cirrus.yml
  drupal8.json
Due: drupal8

Sync emby test version with manifest
  .cirrus.yml
Due: none

Upgrade homebridge to 12.2
  .cirrus.yml
  homebridge.json
Due: homebridge

Upgrade hoobs to 12.2
  .cirrus.yml
  hoobs.json
Due: hoobs

Upgrade lidarr to 12.2
  .cirrus.yml
  lidarr.json
Due: lidarr

Upgrade radarr to 12.2
  .cirrus.yml
  radarr.json
Due: radarr

Upgrade sonarr to 12.2
  .cirrus.yml
  sonarr.json
Due: sonarr

Upgrade gitlab to 12.2
  .cirrus.yml
  gitlab.json
Due: gitlab

Revert "Upgrade homebridge to 12.2"
  .cirrus.yml
  homebridge.json
Due: homebridge

Remove redis version from monica
  monica.json
Due: monica

Add insecure flag to curl
  .cirrus/install_script.sh
Due: none

Skip printing output
  .cirrus/install_script.sh
Due: none

Add silent flag to curl command
  .cirrus/install_script.sh
Due: none

Add support for admin ui curl user param
  .cirrus.yml
  .cirrus/install_script.sh
Due: none

Upgrade sickchill to 12.2
  .cirrus.yml
  sickchill.json
Due: sickchill

Increase curl timeout and retry from 5 to 8
  .cirrus/install_script.sh
Due: none

Add --retry-all-errors flag to curl command
  .cirrus/install_script.sh
Due: none

Add movienight plugin test
  .cirrus.yml
Due: none

Add piwigo plugin test
  .cirrus.yml
Due: none

Remove monica pkg versions
  monica.json
Due: monica

Remove monica pkg versions (#183)
  monica.json
Due: monica

Upgrade postgresql to 12
  gitlab.json
Due: gitlab

Remove postgres client installed by gitlab-ce
  gitlab.json
Due: gitlab

Upgrade gitlab to 12.2
  gitlab.json
Due: gitlab

Take back new postgres vers
  gitlab.json
Due: gitlab

Path conditions:
  backuppc: any of: backuppc.json
  bazarr: any of: bazarr.json
  bind: any of: bind.json
  calibre-web: any of: calibre-web.json
  channels-dvr: any of: channels-dvr.json
  clamav: any of: clamav.json
  deluge-pip: any of: deluge-pip.json
  dnsmasq: any of: dnsmasq.json
  drupal8: any of: drupal8.json
  duplicati: any of: duplicati.json
  emby: any of: emby.json
  emby-server-stable: any of: emby-server-stable.json
  esphome: any of: esphome.json
  famp: any of: famp.json
  gitea: any of: gitea.json
  gitlab: any of: gitlab.json
  gogs: any of: gogs.json
  grafana: any of: grafana.json
  heimdall-dashboard: any of: heimdall-dashboard.json
  homeassistant: any of: homeassistant.json
  homebridge: any of: homebridge.json
  hoobs: any of: hoobs.json
  i2p: any of: i2p.json
  irssi: any of: irssi.json
  jackett: any of: jackett.json
  jenkins: any of: jenkins.json
  jenkins-lts: any of: jenkins-lts.json
  lidarr: any of: lidarr.json
  madsonic: any of: madsonic.json
  mineos: any of: mineos.json
  monica: any of: monica.json
  mosquitto: any of: mosquitto.json
  motioneye: any of: motioneye.json
  netdata: any of: netdata.json
  node-red: any of: node-red.json
  nzbget: any of: nzbget.json
  openspeedtest-server: any of: openspeedtest-server.json
  openvpn: any of: openvpn.json
  privatebin: any of: privatebin.json
  qbittorrent: any of: qbittorrent.json
  quasselcore: any of: quasselcore.json
  radarr: any of: radarr.json
  rslsync: any of: rslsync.json
  rtorrent-flood: any of: rtorrent-flood.json
  sabnzbd: any of: sabnzbd.json
  sickchill: any of: sickchill.json
  sonarr: any of: sonarr.json
  tasmoadmin: any of: tasmoadmin.json
  tautulli: any of: tautulli.json
  transmission: any of: transmission.json
  unificontroller: any of: unificontroller.json
  unificontroller-lts: any of: unificontroller-lts.json
  vault: any of: vault.json
  weechat: any of: weechat.json
  xmrig: any of: xmrig.json
  zoneminder: any of: zoneminder.json
  zrepl: any of: zrepl.json
  zwavejs2mqtt: any of: zwavejs2mqtt.json
