Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: adguardhome, amule, backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, graylog, guacamole, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, logitechmediaserver, madsonic, mariadb, mineos, monica, mosquitto, motioneye, movienight, n8n, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, prowlarr, qbittorrent, quasselcore, radarr, redis, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, torr_server, transmission, unificontroller, urbackup, vault, weechat, zabbixserver, zoneminder, zrepl, zwavejs2mqtt

Path conditions:
  adguardhome: any of: adguardhome.json, .cirrus/install_script.sh
  amule: any of: amule.json, .cirrus/install_script.sh
  backuppc: any of: backuppc.json, .cirrus/install_script.sh
  bazarr: any of: bazarr.json, .cirrus/install_script.sh
  bind: any of: bind.json, .cirrus/install_script.sh
  calibre-web: any of: calibre-web.json, .cirrus/install_script.sh
  channels-dvr: any of: channels-dvr.json, .cirrus/install_script.sh
  clamav: any of: clamav.json, .cirrus/install_script.sh
  deluge-pip: any of: deluge-pip.json, .cirrus/install_script.sh
  dnsmasq: any of: dnsmasq.json, .cirrus/install_script.sh
  drupal8: any of: drupal8.json, .cirrus/install_script.sh
  duplicati: any of: duplicati.json, .cirrus/install_script.sh
  emby: any of: emby.json, .cirrus/install_script.sh
  emby-server-stable: any of: emby-server-stable.json, .cirrus/install_script.sh
  esphome: any of: esphome.json, .cirrus/install_script.sh
  famp: any of: famp.json, .cirrus/install_script.sh
  gitea: any of: gitea.json, .cirrus/install_script.sh
  gitlab: any of: gitlab.json, .cirrus/install_script.sh
  gogs: any of: gogs.json, .cirrus/install_script.sh
  grafana: any of: grafana.json, .cirrus/install_script.sh
  graylog: any of: graylog.json, .cirrus/install_script.sh
  guacamole: any of: guacamole.json, .cirrus/install_script.sh
  heimdall-dashboard: any of: heimdall-dashboard.json, .cirrus/install_script.sh
  homeassistant: any of: homeassistant.json, .cirrus/install_script.sh
  homebridge: any of: homebridge.json, .cirrus/install_script.sh
  hoobs: any of: hoobs.json, .cirrus/install_script.sh
  i2p: any of: i2p.json, .cirrus/install_script.sh
  irssi: any of: irssi.json, .cirrus/install_script.sh
  jackett: any of: jackett.json, .cirrus/install_script.sh
  jdownloader: any of: jdownloader.json, .cirrus/install_script.sh
  jenkins: any of: jenkins.json, .cirrus/install_script.sh
  jenkins-lts: any of: jenkins-lts.json, .cirrus/install_script.sh
  lidarr: any of: lidarr.json, .cirrus/install_script.sh
  logitechmediaserver: any of: logitechmediaserver.json, .cirrus/install_script.sh
  madsonic: any of: madsonic.json, .cirrus/install_script.sh
  mariadb: any of: mariadb.json, .cirrus/install_script.sh
  mineos: any of: mineos.json, .cirrus/install_script.sh
  monica: any of: monica.json, .cirrus/install_script.sh
  mosquitto: any of: mosquitto.json, .cirrus/install_script.sh
  motioneye: any of: motioneye.json, .cirrus/install_script.sh
  movienight: any of: movienight.json, .cirrus/install_script.sh
  n8n: any of: n8n.json, .cirrus/install_script.sh
  netdata: any of: netdata.json, .cirrus/install_script.sh
  nexus: any of: nexus-oss.json, .cirrus/install_script.sh
  node-red: any of: node-red.json, .cirrus/install_script.sh
  nxfilter: any of: nxfilter.json, .cirrus/install_script.sh
  nzbget: any of: nzbget.json, .cirrus/install_script.sh
  openspeedtest-server: any of: openspeedtest-server.json, .cirrus/install_script.sh
  openvpn: any of: openvpn.json, .cirrus/install_script.sh
  piwigo: any of: piwigo.json, .cirrus/install_script.sh
  privatebin: any of: privatebin.json, .cirrus/install_script.sh
  prowlarr: any of: prowlarr.json, .cirrus/install_script.sh
  qbittorrent: any of: qbittorrent.json, .cirrus/install_script.sh
  quasselcore: any of: quasselcore.json, .cirrus/install_script.sh
  radarr: any of: radarr.json, .cirrus/install_script.sh
  redis: any of: redis.json, .cirrus/install_script.sh
  rslsync: any of: rslsync.json, .cirrus/install_script.sh
  rtorrent-flood: any of: rtorrent-flood.json, .cirrus/install_script.sh
  sabnzbd: any of: sabnzbd.json, .cirrus/install_script.sh
  sickchill: any of: sickchill.json, .cirrus/install_script.sh
  sonarr: any of: sonarr.json, .cirrus/install_script.sh
  tasmoadmin: any of: tasmoadmin.json, .cirrus/install_script.sh
  tautulli: any of: tautulli.json, .cirrus/install_script.sh
  torr_server: any of: torr-server.json, .cirrus/install_script.sh
  transmission: any of: transmission.json, .cirrus/install_script.sh
  unificontroller: any of: unificontroller.json, .cirrus/install_script.sh
  urbackup: any of: urbackup.json, .cirrus/install_script.sh
  vault: any of: vault.json, .cirrus/install_script.sh
  weechat: any of: weechat.json, .cirrus/install_script.sh
  zabbixserver: any of: zabbixserver.json, .cirrus/install_script.sh
  zoneminder: any of: zoneminder.json, .cirrus/install_script.sh
  zrepl: any of: zrepl.json, .cirrus/install_script.sh
  zwavejs2mqtt: any of: zwavejs2mqtt.json, .cirrus/install_script.sh

Add jellyfin plugin
  .cirrus.yml
  icons/jellyfin.png
  jellyfin.json
Due: none

Update INDEX
  INDEX
Due: none

Update jellyfin.json
  jellyfin.json
Due: none

change python to python39 since the script seach vers 3.9 explicitely
  jellyfin.json
Due: none

Increased revision to enable plugin update (#354)
  archiwarep5.json
Due: none

added revision field (#342)
  archiwarep5.json
Due: none

fix famp install issue
  famp.json
Due: famp

urbackup compiled from sources due to missing cryptopp library
  urbackup.json
Due: urbackup

Increased revision to allow plugin update
  archiwarep5.json
Due: none

add photoview artifact file
  photoview.json
Due: none

add photoview plugin to .cirrus.yml
  .cirrus.yml
Due: none

add photoview manifest, cirrus config and icon
  .cirrus.yml
  icons/photoview.png
  photoview.json
Due: none

add photoview to INDEX
  INDEX
Due: none

fix revision type
  photoview.json
Due: none

Update emby.json
  emby.json
Due: emby

Update emby.json (#370)
  emby.json
Due: emby

Add Photoview Gallery (#369)
  .cirrus.yml
  INDEX
  icons/photoview.png
  photoview.json
Due: none

Remove MineOS plugin
  .cirrus.yml
  INDEX
  icons/mineos.png
  mineos.json
Due: mineos

Remove MineOS plugin (#373)
  .cirrus.yml
  INDEX
  icons/mineos.png
  mineos.json
Due: mineos

Fixing missing bracket for new paperless-ngx plugin
  INDEX
Due: none

Making revision a number to pass schema checks
  paperless-ngx.json
Due: none

Addng py39-django42 pkg
  paperless-ngx.json
Due: none

Adding py39-celery and py39-nltk packages
  paperless-ngx.json
Due: none

Fixing whitespace
  paperless-ngx.json
Due: none

Adding artifact file for paperless-ngx plugin (#340)
  .cirrus.yml
  INDEX
  icons/paperless-ngx.png
  paperless-ngx.json
Due: none

Increased revision to allow plugin update (#367)
  archiwarep5.json
Due: none

Update to Jellyfin plugin (#368)
  jellyfin.json
Due: none

Update bazarr.json
  bazarr.json
Due: bazarr

rollback to 13.1 for non working projects
  channels-dvr.json
  deluge-pip.json
  drupal8.json
  duplicati.json
  emby.json
  gitlab.json
  jackett.json
  logitechmediaserver.json
  monica.json
  motioneye.json
  nexus-oss.json
  nzbget.json
  openvpn.json
  piwigo.json
  rtorrent-flood.json
  sabnzbd.json
  sickchill.json
  torr-server.json
  unificontroller.json
  zoneminder.json
Due: channels-dvr, deluge-pip, drupal8, duplicati, emby, gitlab, jackett, logitechmediaserver, monica, motioneye, nexus, nzbget, openvpn, piwigo, rtorrent-flood, sabnzbd, sickchill, torr_server, unificontroller, zoneminder

Remove transmission-web
  transmission.json
Due: transmission

Add mbedtls dependency to emby-server-stable
  emby-server-stable.json
Due: emby-server-stable

Add mbedtls dependency to emby-server-stable (#380)
  emby-server-stable.json
Due: emby-server-stable

Remove transmission-web (#379)
  transmission.json
Due: transmission

Change grafana8 to grafana9
  grafana.json
Due: grafana
