Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, netdata, node-red, nzbget, openspeedtest-server, openvpn, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, unificontroller-lts, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

backuppc:
  requirements_script: pkg install -y jq
  ...

bazarr:
  requirements_script: pkg install -y jq
  ...

bind:
  requirements_script: pkg install -y jq
  ...

calibre-web:
  requirements_script: pkg install -y jq
  ...

channels-dvr:
  requirements_script: pkg install -y jq
  ...

clamav:
  requirements_script: pkg install -y jq
  ...

deluge-pip:
  requirements_script: pkg install -y jq
  ...

dnsmasq:
  requirements_script: pkg install -y jq
  ...

drupal8:
  requirements_script: pkg install -y jq
  ...

duplicati:
  requirements_script: pkg install -y jq
  ...

emby:
  requirements_script: pkg install -y jq
  ...

emby-server-stable:
  requirements_script: pkg install -y jq
  ...

esphome:
  requirements_script: pkg install -y jq
  ...

famp:
  requirements_script: pkg install -y jq
  ...

gitea:
  requirements_script: pkg install -y jq
  ...

gitlab:
  requirements_script: pkg install -y jq
  ...

gogs:
  requirements_script: pkg install -y jq
  ...

grafana:
  requirements_script: pkg install -y jq
  ...

heimdall-dashboard:
  requirements_script: pkg install -y jq
  ...

homeassistant:
  requirements_script: pkg install -y jq
  ...

homebridge:
  requirements_script: pkg install -y jq
  ...

hoobs:
  requirements_script: pkg install -y jq
  ...

i2p:
  requirements_script: pkg install -y jq
  ...

irssi:
  requirements_script: pkg install -y jq
  ...

jackett:
  requirements_script: pkg install -y jq
  ...

jenkins:
  requirements_script: pkg install -y jq
  ...

jenkins-lts:
  requirements_script: pkg install -y jq
  ...

lidarr:
  requirements_script: pkg install -y jq
  ...

madsonic:
  requirements_script: pkg install -y jq
  ...

mineos:
  requirements_script: pkg install -y jq
  ...

monica:
  requirements_script: pkg install -y jq
  ...

mosquitto:
  requirements_script: pkg install -y jq
  ...

motioneye:
  requirements_script: pkg install -y jq
  ...

netdata:
  requirements_script: pkg install -y jq
  ...

node-red:
  requirements_script: pkg install -y jq
  ...

nzbget:
  requirements_script: pkg install -y jq
  ...

openspeedtest-server:
  requirements_script: pkg install -y jq
  ...

openvpn:
  requirements_script: pkg install -y jq
  ...

privatebin:
  requirements_script: pkg install -y jq
  ...

qbittorrent:
  requirements_script: pkg install -y jq
  ...

quasselcore:
  requirements_script: pkg install -y jq
  ...

radarr:
  requirements_script: pkg install -y jq
  ...

rslsync:
  requirements_script: pkg install -y jq
  ...

rtorrent-flood:
  requirements_script: pkg install -y jq
  ...

sabnzbd:
  requirements_script: pkg install -y jq
  ...

sickchill:
  requirements_script: pkg install -y jq
  ...

sonarr:
  requirements_script: pkg install -y jq
  ...

tasmoadmin:
  requirements_script: pkg install -y jq
  ...

tautulli:
  requirements_script: pkg install -y jq
  ...

transmission:
  requirements_script: pkg install -y jq
  ...

unificontroller:
  requirements_script: pkg install -y jq
  ...

unificontroller-lts:
  requirements_script: pkg install -y jq
  ...

vault:
  requirements_script: pkg install -y jq
  ...

Remove ca_root_nss after pkg fetch
  .cirrus.yml
Due: none

Sync cirrus versions with plugin manifests
  .cirrus.yml
Due: none

Ignore error if ca_root_nss not installed
  .cirrus.yml
Due: none

Remove old if checking if git is installed
  .cirrus.yml
Due: none

Use pkg delete instead of remove
  .cirrus.yml
Due: none

Clone plugin repo before changing packagesite
  .cirrus.yml
Due: none

Create plugin_dir variable
  .cirrus.yml
Due: none

Run pkg clean
  .cirrus.yml
Due: none

More pkg commands refactor
  .cirrus.yml
Due: none

Move install_script to own folder/file
  .cirrus.yml
  .cirrus/install_script.sh
Due: none

Run tasks if install script changes
  .cirrus.yml
Due: none

Bump CPU and memory to 4
  .cirrus.yml
Due: none

Update emby-server-stable.json
  emby-server-stable.json
Due: emby-server-stable

Update emby.json
  emby.json
Due: emby

Update esphome plugin test to 12.2
  .cirrus.yml
Due: none

Update gogs plugin test to 12.2
  .cirrus.yml
Due: none

Update homeassistant plugin test to 12.2
  .cirrus.yml
Due: none

Update mosquitto plugin test to 12.2
  .cirrus.yml
Due: none

Update node-red plugin test to 12.2
  .cirrus.yml
Due: none

Update tasmoadmin plugin test to 12.2
  .cirrus.yml
Due: none

Add pretty static shields to readme
  README.md
Due: none

update esphome plugin - switch to 12.2-RELEASE - switch to latest packagesite - add category and homepage to INDEX
  INDEX
  esphome.json
Due: esphome

update gogs plugin - switch to 12.2-RELEASE - switch to latest packagesite - add category and homepage to INDEX
  INDEX
  gogs.json
Due: gogs

update homeassistant plugin - switch to 12.2-RELEASE - switch to latest packagesite - add category and homepage to INDEX
  INDEX
  homeassistant.json
Due: homeassistant

update mosquitto plugin - switch to 12.2-RELEASE - switch to latest packagesite - add category and homepage to INDEX
  INDEX
  mosquitto.json
Due: mosquitto

update node-red plugin - switch to 12.2-RELEASE - switch to latest packagesite - add category and homepage to INDEX
  INDEX
  node-red.json
Due: node-red

update tasmodamin plugin - switch to 12.2-RELEASE - switch to latest packagesite - add category and homepage to INDEX
  INDEX
  tasmoadmin.json
Due: tasmoadmin

update zwavejs2mqtt plugin - add category and homepage to INDEX
  INDEX
  _INFO.md
Due: none

nope
  _INFO.md
Due: none

Make install_script.sh executable
  .cirrus/install_script.sh
Due: none

Fix old PLUGIN_FILE parsing for fingerprint
  .cirrus/install_script.sh
Due: none

Fail cirrus task on script error
  .cirrus/install_script.sh
Due: none

Fix invalid plugin_file variable creation
  .cirrus/install_script.sh
Due: none

Use initial plugin_file variable in script
  .cirrus/install_script.sh
Due: none

Cirrus CI tasks for plugin installation tests (#169)
  .cirrus.yml
  README.md
  pull_request_template.md
Due: none

Upgrade calibre-web to 12.2
  .cirrus.yml
  calibre-web.json
Due: calibre-web

Upgrade deluge-pip to 12.2
  .cirrus.yml
  deluge-pip.json
Due: deluge-pip

Update monica packages to latest minor versions
  monica.json
Due: monica

Downgrade unificontroller to 11.3 matching pkg
  unificontroller.json
Due: unificontroller

Upgrade tautulli to 12.2
  .cirrus.yml
  tautulli.json
Due: tautulli

Path conditions:
  backuppc: any of: backuppc.json
  bazarr: any of: bazarr.json
  bind: any of: bind.json
  calibre-web: any of: calibre-web.json
  channels-dvr: any of: channels-dvr.json
  clamav: any of: clamav.json
  deluge-pip: any of: deluge-pip.json
  dnsmasq: any of: dnsmasq.json
  drupal8: any of: drupal8.json
  duplicati: any of: duplicati.json
  emby: any of: emby.json
  emby-server-stable: any of: emby-server-stable.json
  esphome: any of: esphome.json
  famp: any of: famp.json
  gitea: any of: gitea.json
  gitlab: any of: gitlab.json
  gogs: any of: gogs.json
  grafana: any of: grafana.json
  heimdall-dashboard: any of: heimdall-dashboard.json
  homeassistant: any of: homeassistant.json
  homebridge: any of: homebridge.json
  hoobs: any of: hoobs.json
  i2p: any of: i2p.json
  irssi: any of: irssi.json
  jackett: any of: jackett.json
  jenkins: any of: jenkins.json
  jenkins-lts: any of: jenkins-lts.json
  lidarr: any of: lidarr.json
  madsonic: any of: madsonic.json
  mineos: any of: mineos.json
  monica: any of: monica.json
  mosquitto: any of: mosquitto.json
  motioneye: any of: motioneye.json
  netdata: any of: netdata.json
  node-red: any of: node-red.json
  nzbget: any of: nzbget.json
  openspeedtest-server: any of: openspeedtest-server.json
  openvpn: any of: openvpn.json
  privatebin: any of: privatebin.json
  qbittorrent: any of: qbittorrent.json
  quasselcore: any of: quasselcore.json
  radarr: any of: radarr.json
  rslsync: any of: rslsync.json
  rtorrent-flood: any of: rtorrent-flood.json
  sabnzbd: any of: sabnzbd.json
  sickchill: any of: sickchill.json
  sonarr: any of: sonarr.json
  tasmoadmin: any of: tasmoadmin.json
  tautulli: any of: tautulli.json
  transmission: any of: transmission.json
  unificontroller: any of: unificontroller.json
  unificontroller-lts: any of: unificontroller-lts.json
  vault: any of: vault.json
  weechat: any of: weechat.json
  xmrig: any of: xmrig.json
  zoneminder: any of: zoneminder.json
  zrepl: any of: zrepl.json
  zwavejs2mqtt: any of: zwavejs2mqtt.json
