Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, movienight, netdata, node-red, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, unificontroller-lts, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

backuppc:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: backuppc.json

bazarr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: bazarr.json

bind:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: bind.json

calibre-web:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: calibre-web.json

channels-dvr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: channels-dvr.json

clamav:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: clamav.json

deluge-pip:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: deluge-pip.json

dnsmasq:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: dnsmasq.json

drupal8:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: drupal8.json

duplicati:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: duplicati.json

emby:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby.json

emby-server-stable:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby-server-stable.json

esphome:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: esphome.json

famp:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: famp.json

gitea:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: gitea.json

gitlab:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gitlab.json

gogs:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gogs.json

grafana:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: grafana.json

heimdall-dashboard:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: heimdall-dashboard.json

Add missing 'portal' to FOLLOW_REDIRECTS variable descirption
  README.md
Due: none

Add test info to readme (#198)
  .cirrus.yml
  README.md
Due: none

Remove unificontroller-lts plugin (#201)
  .cirrus.yml
  INDEX
  unificontroller-lts.json
Due: unificontroller-lts

Update INDEX
  INDEX
Due: none

Add files via upload
  icons/nxfilter.png
Due: none

Create nxfilter.json
  nxfilter.json
Due: none

Update .cirrus.yml
  .cirrus.yml
Due: none

Delete nxfilter.png
  icons/nxfilter.png
Due: none

Update nxfilter.json
  nxfilter.json
Due: none

Add NxFilter plugin (#204)
  .cirrus.yml
  INDEX
  icons/nxfilter.png
  nxfilter.json
Due: none

Add Nexus OSS Repository Manager to TrueNAS community plugins (#186)
  .cirrus.yml
  INDEX
  icons/nexus-oss.png
  nexus-oss.json
Due: none

Add files via upload
  icons/zabbix.png
Due: none

Create zabbixserver.json
  zabbixserver.json
Due: none

Upgrade monica manifest to 12.2
  monica.json
Due: monica

Upgrade monica cirrus test to 12.2
  .cirrus.yml
Due: none

Upgrade all 11.3 plugins to 12.2
  bind.json
  dnsmasq.json
  duplicati.json
  irssi.json
  openspeedtest-server.json
  quasselcore.json
  weechat.json
  xmrig.json
Due: bind, dnsmasq, duplicati, irssi, openspeedtest-server, quasselcore, weechat, xmrig

Bump 11-3 plugin tests to 12-2
  .cirrus.yml
Due: none

Debug upgraded plugins
  .cirrus.yml
Due: none

Fix invalid dnsmasq invalid fingerprint
  dnsmasq.json
Due: dnsmasq

Revert "Debug upgraded plugins"
  .cirrus.yml
Due: none

urbackup plugin
  INDEX
  icons/urbackup.png
  urbackup.json
Due: none

cirrus task for urbackup
  .cirrus.yml
Due: none

Upgrade 11.3 plugins to 12 2 (#209)
  .cirrus.yml
  bind.json
  dnsmasq.json
  duplicati.json
  irssi.json
  openspeedtest-server.json
  quasselcore.json
  weechat.json
  xmrig.json
Due: bind, dnsmasq, duplicati, irssi, openspeedtest-server, quasselcore, weechat, xmrig

Add Logitech Media Server
  INDEX
  icons/logitechmediaserver.png
  logitechmediaserver.json
Due: none

Correction of .cirrus.yml for Logitech Media Player
  .cirrus.yml
Due: none

11.3 --> 12.2 & fix packagesite tag
  .cirrus.yml
  logitechmediaserver.json
Due: none

Fix --> missing comma
  INDEX
Due: none

Update emby.json
  emby.json
Due: emby

fixing transcoding for now
  emby-server-stable.json
Due: emby-server-stable

Path conditions:
  backuppc: any of: backuppc.json, .cirrus/install_script.sh
  bazarr: any of: bazarr.json, .cirrus/install_script.sh
  bind: any of: bind.json, .cirrus/install_script.sh
  calibre-web: any of: calibre-web.json, .cirrus/install_script.sh
  channels-dvr: any of: channels-dvr.json, .cirrus/install_script.sh
  clamav: any of: clamav.json, .cirrus/install_script.sh
  deluge-pip: any of: deluge-pip.json, .cirrus/install_script.sh
  dnsmasq: any of: dnsmasq.json, .cirrus/install_script.sh
  drupal8: any of: drupal8.json, .cirrus/install_script.sh
  duplicati: any of: duplicati.json, .cirrus/install_script.sh
  emby: any of: emby.json, .cirrus/install_script.sh
  emby-server-stable: any of: emby-server-stable.json, .cirrus/install_script.sh
  esphome: any of: esphome.json, .cirrus/install_script.sh
  famp: any of: famp.json, .cirrus/install_script.sh
  gitea: any of: gitea.json, .cirrus/install_script.sh
  gitlab: any of: gitlab.json, .cirrus/install_script.sh
  gogs: any of: gogs.json, .cirrus/install_script.sh
  grafana: any of: grafana.json, .cirrus/install_script.sh
  heimdall-dashboard: any of: heimdall-dashboard.json, .cirrus/install_script.sh
  homeassistant: any of: homeassistant.json, .cirrus/install_script.sh
  homebridge: any of: homebridge.json, .cirrus/install_script.sh
  hoobs: any of: hoobs.json, .cirrus/install_script.sh
  i2p: any of: i2p.json, .cirrus/install_script.sh
  irssi: any of: irssi.json, .cirrus/install_script.sh
  jackett: any of: jackett.json, .cirrus/install_script.sh
  jenkins: any of: jenkins.json, .cirrus/install_script.sh
  jenkins-lts: any of: jenkins-lts.json, .cirrus/install_script.sh
  lidarr: any of: lidarr.json, .cirrus/install_script.sh
  madsonic: any of: madsonic.json, .cirrus/install_script.sh
  mineos: any of: mineos.json, .cirrus/install_script.sh
  monica: any of: monica.json, .cirrus/install_script.sh
  mosquitto: any of: mosquitto.json, .cirrus/install_script.sh
  motioneye: any of: motioneye.json, .cirrus/install_script.sh
  movienight: any of: movienight.json, .cirrus/install_script.sh
  netdata: any of: netdata.json, .cirrus/install_script.sh
  node-red: any of: node-red.json, .cirrus/install_script.sh
  nzbget: any of: nzbget.json, .cirrus/install_script.sh
  openspeedtest-server: any of: openspeedtest-server.json, .cirrus/install_script.sh
  openvpn: any of: openvpn.json, .cirrus/install_script.sh
  piwigo: any of: piwigo.json, .cirrus/install_script.sh
  privatebin: any of: privatebin.json, .cirrus/install_script.sh
  qbittorrent: any of: qbittorrent.json, .cirrus/install_script.sh
  quasselcore: any of: quasselcore.json, .cirrus/install_script.sh
  radarr: any of: radarr.json, .cirrus/install_script.sh
  rslsync: any of: rslsync.json, .cirrus/install_script.sh
  rtorrent-flood: any of: rtorrent-flood.json, .cirrus/install_script.sh
  sabnzbd: any of: sabnzbd.json, .cirrus/install_script.sh
  sickchill: any of: sickchill.json, .cirrus/install_script.sh
  sonarr: any of: sonarr.json, .cirrus/install_script.sh
  tasmoadmin: any of: tasmoadmin.json, .cirrus/install_script.sh
  tautulli: any of: tautulli.json, .cirrus/install_script.sh
  transmission: any of: transmission.json, .cirrus/install_script.sh
  unificontroller: any of: unificontroller.json, .cirrus/install_script.sh
  unificontroller-lts: any of: unificontroller-lts.json, .cirrus/install_script.sh
  vault: any of: vault.json, .cirrus/install_script.sh
  weechat: any of: weechat.json, .cirrus/install_script.sh
  xmrig: any of: xmrig.json, .cirrus/install_script.sh
  zoneminder: any of: zoneminder.json, .cirrus/install_script.sh
  zrepl: any of: zrepl.json, .cirrus/install_script.sh
  zwavejs2mqtt: any of: zwavejs2mqtt.json, .cirrus/install_script.sh
