Repository ix-plugin-hub/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: adguardhome, amule, backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, graylog, guacamole, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jdownloader, jenkins, jenkins-lts, lidarr, logitechmediaserver, madsonic, mariadb, mineos, monica, mosquitto, motioneye, movienight, n8n, netdata, nexus, node-red, nxfilter, nzbget, openspeedtest-server, openvpn, piwigo, privatebin, prowlarr, qbittorrent, quasselcore, radarr, redis, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, torr_server, transmission, unificontroller, urbackup, vault, weechat, zabbixserver, zoneminder, zrepl, zwavejs2mqtt

adguardhome:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: adguardhome.json
    ADMIN_UI_USER: admin:admin

amule:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-3
  env:
    PLUGIN_FILE: amule.json
    SKIP_SERVICE_CHECK: 'true'

backuppc:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: backuppc.json

bazarr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: bazarr.json

bind:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: bind.json

calibre-web:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: calibre-web.json

channels-dvr:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: channels-dvr.json

clamav:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: clamav.json

deluge-pip:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: deluge-pip.json

dnsmasq:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: dnsmasq.json

drupal8:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: drupal8.json

duplicati:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: duplicati.json

emby:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby.json

emby-server-stable:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby-server-stable.json

esphome:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: esphome.json

famp:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: famp.json

gitea:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gitea.json

gitlab:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: gitlab.json

Update hoobs.json
  hoobs.json
Due: hoobs

Update motioneye.json
  motioneye.json
Due: motioneye

Update some plugins for TrueNAS 13 (#320)
  .cirrus.yml
  gogs.json
  homeassistant.json
  mosquitto.json
  node-red.json
  tasmoadmin.json
  zwavejs2mqtt.json
Due: gogs, homeassistant, mosquitto, node-red, tasmoadmin, zwavejs2mqtt

13.1 release (#321)
  INDEX
  archiwarep5.json
Due: none

Restore Artifact switch to vnet
  emby.json
Due: emby

Update to 13.1 and add mlock requirement
  emby-server-stable.json
Due: emby-server-stable

Removed jargon
  INDEX
Due: none

Updating zabbix index from 5 to 6
  INDEX
Due: none

Updating zabbix index from 5 to 6 (#328)
  INDEX
Due: none

extra mlock got added
  emby-server-stable.json
Due: emby-server-stable

Fixing plug in display name
  INDEX
Due: none

remove unsupported plugins
  .cirrus.yml
  INDEX
  esphome.json
  homeassistant.json
  icons/homeassistant.png
Due: esphome, homeassistant

feat: adds readarr plugin manifest
  readarr.json
Due: none

chore: updates INDEX, adds icon, adds cirrus task
  .cirrus.yml
  INDEX
  icons/readarr.png
Due: none

chore: fixes broken lidarr manifest
  lidarr.json
Due: lidarr

remove zwavejs2mqtt plugin - The project has been renamed
  .cirrus.yml
  INDEX
  icons/zwavejs2mqtt.png
  zwavejs2mqtt.json
Due: zwavejs2mqtt

remove unsupported plugins (#331)
  .cirrus.yml
  INDEX
  esphome.json
  homeassistant.json
  icons/homeassistant.png
  icons/zwavejs2mqtt.png
  zwavejs2mqtt.json
Due: esphome, homeassistant, zwavejs2mqtt

Updating Emby Plugin (#327)
  INDEX
  emby-server-stable.json
  emby.json
Due: emby, emby-server-stable

Readarr add plugin (#332)
  .cirrus.yml
  INDEX
  icons/readarr.png
  readarr.json
Due: none

chore: remove unnecessary newline
  lidarr.json
Due: lidarr

Fix lidarr.json (#333)
  lidarr.json
Due: lidarr

feat: adds flaresolverr plugin
  .cirrus.yml
  INDEX
  flaresolverr.json
  icons/flaresolverr.png
Due: none

feat: adds flaresolverr plugin (#334)
  .cirrus.yml
  INDEX
  flaresolverr.json
  icons/flaresolverr.png
Due: none

update to Piwigo 13
  piwigo.json
Due: piwigo

fixes #336: add collectd5 package required by InfluxDB
  grafana.json
Due: grafana

update tasmoadmin dependencies
  tasmoadmin.json
Due: tasmoadmin

Adding artifact file for paperless-ngx plugin
  INDEX
  icons/paperless-ngx.png
  paperless-ngx.json
Due: none

Adding paperless-ngx to .cirrus.yml file
  .cirrus.yml
Due: none

Changed release to 13.1. Modified post_install to use latest version of pm2.
  INDEX
  shinobi.json
Due: none

Changed release to 13.1. Updated indent.
  INDEX
  shinobi.json
Due: none

added revision field
  archiwarep5.json
Due: none

added revision field (#343)
  archiwarep5.json
Due: none

remove unmaintained plugins
  INDEX
  gogs.json
  icons/gogs.png
  icons/mosquitto.png
  icons/node-red.png
  icons/tasmoadmin.png
  mosquitto.json
  node-red.json
  tasmoadmin.json
Due: gogs, mosquitto, node-red, tasmoadmin

fix indentation
  INDEX
Due: none

remove from cirrus test
  .cirrus.yml
Due: none

Remove unmaintained plugins (#344)
  .cirrus.yml
  INDEX
  gogs.json
  icons/gogs.png
  icons/mosquitto.png
  icons/node-red.png
  icons/tasmoadmin.png
  mosquitto.json
  node-red.json
  tasmoadmin.json
Due: gogs, mosquitto, node-red, tasmoadmin

Fix for broken py39-libtorrent-rasterbar
  deluge-pip.json
Due: deluge-pip

Path conditions:
  adguardhome: any of: adguardhome.json, .cirrus/install_script.sh
  amule: any of: amule.json, .cirrus/install_script.sh
  backuppc: any of: backuppc.json, .cirrus/install_script.sh
  bazarr: any of: bazarr.json, .cirrus/install_script.sh
  bind: any of: bind.json, .cirrus/install_script.sh
  calibre-web: any of: calibre-web.json, .cirrus/install_script.sh
  channels-dvr: any of: channels-dvr.json, .cirrus/install_script.sh
  clamav: any of: clamav.json, .cirrus/install_script.sh
  deluge-pip: any of: deluge-pip.json, .cirrus/install_script.sh
  dnsmasq: any of: dnsmasq.json, .cirrus/install_script.sh
  drupal8: any of: drupal8.json, .cirrus/install_script.sh
  duplicati: any of: duplicati.json, .cirrus/install_script.sh
  emby: any of: emby.json, .cirrus/install_script.sh
  emby-server-stable: any of: emby-server-stable.json, .cirrus/install_script.sh
  esphome: any of: esphome.json, .cirrus/install_script.sh
  famp: any of: famp.json, .cirrus/install_script.sh
  gitea: any of: gitea.json, .cirrus/install_script.sh
  gitlab: any of: gitlab.json, .cirrus/install_script.sh
  gogs: any of: gogs.json, .cirrus/install_script.sh
  grafana: any of: grafana.json, .cirrus/install_script.sh
  graylog: any of: graylog.json, .cirrus/install_script.sh
  guacamole: any of: guacamole.json, .cirrus/install_script.sh
  heimdall-dashboard: any of: heimdall-dashboard.json, .cirrus/install_script.sh
  homeassistant: any of: homeassistant.json, .cirrus/install_script.sh
  homebridge: any of: homebridge.json, .cirrus/install_script.sh
  hoobs: any of: hoobs.json, .cirrus/install_script.sh
  i2p: any of: i2p.json, .cirrus/install_script.sh
  irssi: any of: irssi.json, .cirrus/install_script.sh
  jackett: any of: jackett.json, .cirrus/install_script.sh
  jdownloader: any of: jdownloader.json, .cirrus/install_script.sh
  jenkins: any of: jenkins.json, .cirrus/install_script.sh
  jenkins-lts: any of: jenkins-lts.json, .cirrus/install_script.sh
  lidarr: any of: lidarr.json, .cirrus/install_script.sh
  logitechmediaserver: any of: logitechmediaserver.json, .cirrus/install_script.sh
  madsonic: any of: madsonic.json, .cirrus/install_script.sh
  mariadb: any of: mariadb.json, .cirrus/install_script.sh
  mineos: any of: mineos.json, .cirrus/install_script.sh
  monica: any of: monica.json, .cirrus/install_script.sh
  mosquitto: any of: mosquitto.json, .cirrus/install_script.sh
  motioneye: any of: motioneye.json, .cirrus/install_script.sh
  movienight: any of: movienight.json, .cirrus/install_script.sh
  n8n: any of: n8n.json, .cirrus/install_script.sh
  netdata: any of: netdata.json, .cirrus/install_script.sh
  nexus: any of: nexus-oss.json, .cirrus/install_script.sh
  node-red: any of: node-red.json, .cirrus/install_script.sh
  nxfilter: any of: nxfilter.json, .cirrus/install_script.sh
  nzbget: any of: nzbget.json, .cirrus/install_script.sh
  openspeedtest-server: any of: openspeedtest-server.json, .cirrus/install_script.sh
  openvpn: any of: openvpn.json, .cirrus/install_script.sh
  piwigo: any of: piwigo.json, .cirrus/install_script.sh
  privatebin: any of: privatebin.json, .cirrus/install_script.sh
  prowlarr: any of: prowlarr.json, .cirrus/install_script.sh
  qbittorrent: any of: qbittorrent.json, .cirrus/install_script.sh
  quasselcore: any of: quasselcore.json, .cirrus/install_script.sh
  radarr: any of: radarr.json, .cirrus/install_script.sh
  redis: any of: redis.json, .cirrus/install_script.sh
  rslsync: any of: rslsync.json, .cirrus/install_script.sh
  rtorrent-flood: any of: rtorrent-flood.json, .cirrus/install_script.sh
  sabnzbd: any of: sabnzbd.json, .cirrus/install_script.sh
  sickchill: any of: sickchill.json, .cirrus/install_script.sh
  sonarr: any of: sonarr.json, .cirrus/install_script.sh
  tasmoadmin: any of: tasmoadmin.json, .cirrus/install_script.sh
  tautulli: any of: tautulli.json, .cirrus/install_script.sh
  torr_server: any of: torr-server.json, .cirrus/install_script.sh
  transmission: any of: transmission.json, .cirrus/install_script.sh
  unificontroller: any of: unificontroller.json, .cirrus/install_script.sh
  urbackup: any of: urbackup.json, .cirrus/install_script.sh
  vault: any of: vault.json, .cirrus/install_script.sh
  weechat: any of: weechat.json, .cirrus/install_script.sh
  zabbixserver: any of: zabbixserver.json, .cirrus/install_script.sh
  zoneminder: any of: zoneminder.json, .cirrus/install_script.sh
  zrepl: any of: zrepl.json, .cirrus/install_script.sh
  zwavejs2mqtt: any of: zwavejs2mqtt.json, .cirrus/install_script.sh
